.total-box {
    margin-right: 3px;
}

.content {
    padding-top: 65px;
}

.searchTagButton {
    margin-right: 5px; !important;
}

.searchBox {
    color: white;
    z-index: 1000 !important;
    background-color: black !important;
    padding: 10px !important;
    position: absolute; !important;
    border: #000000 2px; !important;
    background-color: rgba(127, 127, 127, 0.38); !important;
}